<div class="w-full flex flex-col gap-4 p-4">
    <h3 class="font-bold text-gray-900 dark:text-gray-100 text-xl">Вы можете искать и отправлять мемы прямо в
        Telegram!</h3>
    <p class="text-gray-900 dark:text-gray-100">Просто введите в любом чате "<strong>@memexpert</strong>" и поисковой
        запрос - бот
        покажет наиболее подходящие мемы, и вы сможете
        сразу их отправить.</p>
    <figure class="w-full">
        <img src="/tgbot.jpg" alt="Поиск мемов с помощью телеграм-бота MemXpert"
            class="h-auto w-full max-w-full rounded-md shadow-md shadow-gray-200 dark:shadow-gray-800" width="1080"
            height="484" />
        <figcaption class="mt-2 text-xl text-center text-gray-800 dark:text-gray-200">
            Поиск мемов с помощью телеграм-бота <a href="https://t.me/memexpertbot" class="underline">MemXpert</a>
        </figcaption>
    </figure>
</div>